h1 {
    font-size: 4rem;
    font-weight: 800;
    color: rgb(0, 0, 0);
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #334977;
}

h3 {
    font-size: 2rem;
    color: white;
    font-weight: 600;

}

h4 {
    font-size: 1.5rem;
    font-weight: 800;
}

h5 {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}