.form-control {
    position: relative;
    margin-bottom: 0.5rem;
}

.form-control input[type="text"],
.form-control select {
    margin-bottom: 20px;
    outline: none;
    border-radius: 15px;
    border: 1px solid #C4D0EB;
    background: #FFF;
    display: block;
    width: 100%;
    color: #535353;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
}

.form-control input::placeholder {
  color: #535353;
}

.form-control.invalid input {
    border-color: #e53935;
}

.form-control label {
    display: block;
    margin: 0 0 0 1rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.form-control input[type="text"]:active,
.form-control input[type="text"]:focus {
    border: 2px solid #17A2B8;
}