/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
/* reset */
@import url("./css/reset.css");
/* flex-grid */
@import url("./css/flex-grid.css");
/* card */
@import url("./css/card.css");
/* forms */
@import url("./css/form.css");
/* containers */
@import url("./css/container.css");
/* sidebar */
@import url("./css/sidebar.css");
/* header */
@import url("./css/header.css");
/* menu */
@import url("./css/menu.css");
/* search & filter */
@import url("./css/search-filter.css");
/* tasks-lists */
@import url("./css/task-lists.css");
/* profile */
@import url("./css/profile.css");

                /* tags */                          
/* span */
@import url("./css/tags/span.css");
/* hr */
@import url("./css/tags/line.css");
/* input */
@import url("./css/tags/input.css");
/* checkbox */
@import url("./css/tags/checkbox.css");
/* a */
@import url("./css/tags/link.css");
/* buttons */
@import url("./css/tags/button.css");
/* h(1-6) */
@import url("./css/tags/heading.css");


* {
  box-sizing: border-box;
}

body {
  font-family: "Abhaya Libre", serif;
  color: #535353;
  font-size: 1.5rem;
  margin: 0;
  overflow-x: hidden;
}

.main {
  width: 100%;
  background-color: #202D48;
  padding-top: 10px;
  padding-right: 8px;
}












