/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
/* reset */
@import url("./css/reset.css");
/* flex-grid */
@import url("./css/flex-grid.css");
/* card */
@import url("./css/card.css");
/* forms */
@import url("./css/form.css");
/* containers */
@import url("./css/container.css");

                /* tags */                          
/* span */
@import url("./css/tags/span.css");
/* hr */
@import url("./css/tags/line.css");
/* checkbox */
@import url("./css/tags/checkbox.css");
/* a */
@import url("./css/tags/link.css");
/* buttons */
@import url("./css/tags/button.css");
/* h(1-6) */
@import url("./css/tags/heading.css");


* {
  box-sizing: border-box;
}

body {
  font-family: "Abhaya Libre", serif;
  color: #535353;
  font-size: 1.5rem;
  min-width: 320px;
}

.center {
  text-align: center;
}








/* пока не знаю использовать или нет */
/* .pt-2 {
    padding-top: 2rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-5 {
    padding-top: 5rem;
} */







